* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: hidden;
}

header{
    height: 10%;
    background: red; /* For browsers that do not support gradients */
    background: #F70025; /* Standard syntax (must be last) */
    border: 1px solid black;
}

#imgHeader{
    height: 100%;
    margin-left: 2%;
    float:left;
}

#pageTitle_name{
    margin-left: 20%;
    width:60%;
    position: relative;
    top:25%;
    font-family: Arial;
    padding-top:0.2%;
}
#pageTitle_hour{
    margin-right: : 0%;
    position: relative;
    top:-30%;
    font-family: Arial;
    padding-top:0.2%;
    margin-right: 2%;
    float:right;
}

.sidenav_left {
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    background-color: #F9A603;
    border: 1px solid black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    float: left;
}

/* The navigation menu links */

.sidenav_left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav_left a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main_svg {
    padding: 0px 0px;
    width: 60%;
    float: left;
    height: 90%;
}

.imagen {
    width: 100%;
    height: 100%;
}

.sidenav_right {
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    background-color: #F9A603;
    border: 1px solid black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-right: : 0%;
    float: right;
}

/* The navigation menu links */
.sidenav_right a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav_right a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav_left {padding-top: 15px;}
    .sidenav_left a {font-size: 18px;}
}